In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/thomaspernet/PythonFinanceClass/master/QuantitativeFinance/Datasets/R_data/2016_10_12_bank_prices.csv', sep = ";")

In [5]:
df.head()

,Date,MSCIWorldpreviousdayquote,FTSEALLWORLDINDEX,Eurostoxx,Eurostoxxbanks,USbanksDowJonesindex,VIXindexofVolatilityonChicagoDerivativesmarket%,FXEURUSD,FXEURGBP,FXEURCHF,...,CREDITSUISSEGROUPAGREG,BARCLAYSPLCGB,HSBCHOLDINGSPLCGB,ROYALBANKOFSCOTLANDGROUPGB,NORDEABANKAB,JPMORGANCHASECo,CITIGROUPINC,BANKOFAMERICA,GOLDMANSACHSGroup,MORGANSTANLEY
0,12/10/2016,"1700,33","272,35","339,97","96,14","3839,01","15,77","1,1025","0,89807","1,09108",...,"13,13","171,9","614,3","179,8","88,9","68,31","48,99","16,11","169,04","32,18"
1,11/10/2016,"1700,33","272,81","340,17","95,6","3839,01","15,36","1,1054","0,91182","1,09312",...,"13,18","172,4","618,5",181,88,"68,31","48,99","16,11","169,04","32,18"
2,10/10/2016,"1719,29","275,88","341,98","95,87","3873,53","13,38","1,1139","0,90104","1,09454",...,"13,16","172,3","624,8","178,6","90,3","68,64","49,55","16,3","171,04","32,56"
3,09/10/2016,"1712,4","274,84","339,64","95,51","3847,27","13,48","1,1201","0,90005","1,09423",...,"13,06","173,6","619,5","181,9","90,4","68,11","49,28","16,13","169,83","32,31"
4,08/10/2016,"1712,4","274,84","339,64","95,51","3847,27","13,48","1,1201","0,90005","1,09423",...,"13,06","173,6","619,5","181,9","90,4","68,11","49,28","16,13","169,83","32,31"

In [7]:
list(df)

['Date',
 'MSCIWorldpreviousdayquote',
 'FTSEALLWORLDINDEX',
 'Eurostoxx',
 'Eurostoxxbanks',
 'USbanksDowJonesindex',
 'VIXindexofVolatilityonChicagoDerivativesmarket%',
 'FXEURUSD',
 'FXEURGBP',
 'FXEURCHF',
 'FXEURJPY',
 'MSCIEMCurrencypreviousdayquote',
 'EURUSDcrosscurrencybasisswapbps3M',
 'GoldPrice',
 'Brent',
 'itraxxEurope',
 'itraxxEuropeSeniorfinancials5YRindexbps',
 'itraxxEuropeSubordinatedfinancials5YRindex',
 'MarkitiBoxxEURCoCopreviousdayquote',
 'iBoxxEURLiquidCoveredBond',
 'MSCIWORLDBankIndexpreviousdayquote',
 'Germany',
 'Greece',
 'Portugal',
 'Italy',
 'Spain',
 'Ireland',
 'France',
 'Netherlands',
 'Austria',
 'Belgium',
 'Finland',
 'GreatBritain',
 'Japan',
 'US',
 'Switzerland',
 'AEXAmsterdamExchangeindex',
 'ASEAtheneStockExchange',
 'ATXAustrianTradedIndex',
 'BEL20',
 'CAC40',
 'DAX',
 'FTSEMilan',
 'IBEX',
 'ISEQIrishStockExchange',
 'PSI20',
 'BRICindexpreviousdayquote',
 'FTSE100index',
 'Nikkei',
 'DowJones',
 'SMI',
 'ERSTEGROUPBANKAG',
 'RAIFFEISENBANKINTERNATIONA',
 'KBCGROEPNV',
 'DEXIASA',
 'BANKOFCYPRUSPUBLICCOLTD',
 'HELLENICBANKPUBLICCOLTD',
 'COMMERZBANKAG',
 'DEUTSCHEBANKAGREGISTERED',
 'AAREALBANKAG',
 'DEUTSCHEPFANDBRIEFBANKAG',
 'BANCOBILBAOVIZCAYAARGENTA',
 'BANCODESABADELLSA',
 'BANCOPOPULARESPANOL',
 'BANCOSANTANDERSA',
 'BANKIASA',
 'BANKINTERSA',
 'CAIXABANKSA',
 'LIBERBANKSA',
 'BNPPARIBAS',
 'CrditMutuel',
 'CREDITAGRICOLESA',
 'BPCE',
 'SOCIETEGENERALESA',
 'ALPHABANKAE',
 'EUROBANKERGASIASSA',
 'PIRAEUSBANKSA',
 'BANKOFIRELAND',
 'ALLIEDIRISHBANKSPLC',
 'PERMANENTTSBGROUPHOLDINGS',
 'BANCACARIGESPA',
 'BANCAMONTEDEIPASCHISIENA',
 'BANCAPOPOLEMILIAROMAGNA',
 'BANCAPOPOLAREDIMILANO',
 'BANCAPOPOLAREDISONDRIO',
 'BANCOPOPOLARESC',
 'INTESASANPAOLO',
 'MEDIOBANCASPAIT',
 'UBIBANCASPA',
 'UNICREDITSPA',
 'BANKOFVALLETTAPLC',
 'INGGROEPNV',
 'ABNAMROGROUP',
 'RABOBANK',
 'BANCOBPISAREGSHS',
 'BANCOCOMERCIALPORTUGUESR',
 'UBSGROUPAGREG',
 'CREDITSUISSEGROUPAGREG',
 'BARCLAYSPLCGB',
 'HSBCHOLDINGSPLCGB',
 'ROYALBANKOFSCOTLANDGROUPGB',
 'NORDEABANKAB',
 'JPMORGANCHASECo',
 'CITIGROUPINC',
 'BANKOFAMERICA',
 'GOLDMANSACHSGroup',
 'MORGANSTANLEY']

In [8]:
df = df[['BNPPARIBAS', 'CREDITAGRICOLESA', 'SOCIETEGENERALESA']]